html{
	color: #222;
	font-size: small;
	font-family: Arial;


}

nav ul{
	position: fixed;
	top: 0px;
	right: 0px;
	
}
nav ul li{
	display: inline-block;
	list-style-type: none;
	padding: 10px 5px;
	margin: 0px;

}

.main_content{
	text-align: center;
	position: relative;
	top: 100px;
}

#search_bar{
	width:638px;
	height: 40px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 6px 9px 0;
	font-size: 13px;
}

.main_content ul li{
	display: inline-block;
	list-style-type: none;
	background-color: #f2f2f2;
	padding: 10px 16px;
	margin: 11px 4px;
	font-size: 13px;
	font-weight: bold;
	color: #757575;
	border: 1px solid;
	border-top-color: rgb(242, 242, 242);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(242, 242, 242);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(242, 242, 242);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(242, 242, 242);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

footer{
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0px;
	right: 0px;
	color: #757575;
	
	

}

#bottom_left{
	float: left;

	margin-left: 0px;
}
#bottom_right{
	float: right;
	white-space: nowrap;
	margin-right: 30px;
}


footer ul li{
	display: inline-block;
	list-style-type: none;
	padding: 10px 5px;

}



